.imgInicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.imgInicio__container{
    position: relative;
}
.imgInicio_text-neuro{
    position: absolute;
    color:#21618C;
    z-index: 10;
    top: 70px;
    left: 17px;
}
.imgInicio_text-apren{
    position: absolute;
    z-index: 10;
    color: rgb(201, 64, 64);
    font-weight: bold;
    top: 78%;
    left: 36.5%;
}

.frase{
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;    
}

.as{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color:#21618C;
    margin: 2rem auto;
    text-align: center;
}


.t{
    max-width: 300px;
}

.y{
    width: 200px;
    height: 200px;
}

.u{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.c1{
    width: 300px;
    height: 200px;
}
.c2{
    width: 300px;
    height: 200px; 
}
.c3{
    width: 300px;
    height: 200px;
}
.c4{
    width: 300px;
    height: 200px;
}
.c5{
    width: 300px;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .imgInicio{
        flex-direction: row;
    }
}