
.actividades {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* transition: all 0.5s ease; */
}
.actividades__article{
    padding: 1rem;
}

.actividades__title {
    margin-bottom: 10px;
}

.actividades__video{
    height: 300px;
}
.actividades__video, .actividades__procedimiento{
    width: 100%;
}

.actividades__procedimiento{
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .actividades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1300px) {
    .actividades {
        grid-template-columns: repeat(3, 1fr);
    }
}